@model IEnumerable<Usuario>

<head>
    <title>Home Page</title>
</head>

<body>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-2 border-bottom">
            <h1 class="h2">Usuarios</h1>
            @if (TempData["edit"] != null)
            {
                <div class="alert alert-success" role="alert">@TempData["edit"]</div>
            }
            else if (TempData["delete"] != null)
            {
                <div class="alert alert-success" role="alert">@TempData["delete"]</div>
            }
            else if (TempData["error"] != null)
            {
                <div class="alert alert-warning" role="alert">@TempData["error"]</div>
            }
        </div>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap mb-2 align-items-center">
            <div class="d-flex justify-content-start">
                <form asp-controller="Home" asp-action="Home">
                    <div class="input-group form-floating mr-3">
                        <input type="text" class="form-control" placeholder="Buscar" name="SearchString">
                        <div class="input-group-append">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span data-feather="filter" class="align-text-bottom"></span>
                                Filtro
                            </button>
                            <div class="dropdown-menu">
                                <button class="dropdown-item" name="typeSearch" value="name" type="submit">Nombre</button>
                                <button class="dropdown-item" name="typeSearch" value="user" type="submit">Nombre de usuario</button>
                                <button class="dropdown-item" name="typeSearch" value="email" type="submit">Email</button>
                            </div>
                        </div>
                        <div class="input-group-append">
                            <button class="btn btn-dark" name="typeSearch" value="reset" type="submit">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
            <a class="btn btn-primary" style="white-space: nowrap" asp-controller="Home" asp-action="Register">Registrar usuario</a>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Nombre de usuario</th>
                        <th scope="col">Email</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>@user.Name</td>
                            <td>@user.Username</td>
                            <td>
                                <a asp-controller="Home" asp-action="Usuario" asp-route-email="@user.Email">@user.Email</a>
                            </td>
                            <td>
                                <a asp-controller="Home" asp-action="Edit" asp-route-id="@user.Id">Editar</a>
                            </td>
                            <td>
                                <a asp-controller="Home" asp-action="Delete" asp-route-id="@user.Id">Borrar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </main>
    <script>document.getElementById("navHome").classList.add('active');</script>
</body>